
/cubics-core/.classpath
/cubics-core/.project
/cubics-core/.settings/org.eclipse.jdt.core.prefs
/cubics-core/target
/cubics-renders/.classpath
/cubics-renders/.project
/cubics-renders/.settings/org.eclipse.jdt.core.prefs
/cubics-renders/target
/cubics-tests/.classpath
/cubics-tests/.project
/cubics-tests/.settings/org.eclipse.jdt.core.prefs
/cubics-tests/target
